
<hr />

  <!-- <mat-grid-tile-header><mat-grid-list cols="9" rowHeight="1:1.05" gutterSize="20px" role="list">
      <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>{{'CAREER' | translate}}</span>
          </mat-toolbar-row>
        </mat-toolbar>
  </mat-grid-tile-header > -->

  <mat-sidenav-container class="navi-container">
      <mat-sidenav #sidenav class="sidenavi" mode="side" opened="true">
        <mat-grid-list cols="1" rowHeight="1:1.05" gutterSize="10px" role="list">
          <mat-grid-tile *ngFor="let c of careers; let i = index" role="listitem">
              <mat-card (click)="doCareerClick()"  class="c{{i}}">
                <mat-card-header>
                  <mat-card-title class="title">{{c.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>contents</p>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
      </mat-sidenav>
    
      <div class="sidenavi-content">
        <button type="button" mat-button (click)="sidenav.toggle()">
          Open sidenav
        </button>
      </div>
    
    </mat-sidenav-container>


  